<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: main-head"></head>

<body>
<nav th:replace="fragments/navbar :: main-nav"></nav>

<div class="container">

	<div class="card m-2" th:each="ad : ${ads}">
			<a th:href="@{ads/{id}(id=${ad.id})}">
				<h5 class="card-header" th:text="${ad.title}"></h5>
			</a>
		<div class="card-body">
			<p class="card-text" th:text="${ad.description}"></p>
			<a th:href="@{ads/{id}(id=${ad.id})}" class="btn btn-link">View</a>

		</div>
	</div>


</div>
<div th:replace="fragments/scripts :: assets"></div>

<script src="webjars"></script>
</body>
</html>