<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: main-head"></head>

<body>
<nav th:replace="fragments/navbar :: main-nav"></nav>

<div class="container">
	<div class="card m-2">
		<h5 class="card-header" th:text="${ad.title}"></h5>
		<div class="card-body">

			<span th:each="category : ${ad.categories}" th:text="${category.name}" class="badge badge-pill badge-primary"></span>



			<p class="card-text" th:text="${ad.description}"></p>
			<div class="row float-right" role="group" aria-label="Basic example">
				<a class="btn btn-success m-2" th:href="@{/ads/{id}/edit(id=${ad.id})}" role="button">Edit</a>
				<form th:action="@{/ads/{id}/delete(id=${ad.id})}" method="post">
					<button class="btn btn-danger m-2">Delete</button>
				</form>
			</div>

		</div>
	</div>
</div>

<div th:replace="fragments/scripts :: assets"></div>
</body>
</html>