<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>

<!--https://stackoverflow.com/questions/35988081/thymeleaf-include-content-of-fragment-->
<div th:fragment="assets" th:remove="tag">
	<script src="/webjars/jquery/3.4.0/jquery.js"></script>
	<script src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
	<script src="/webjars/popper.js/1.14.3/popper.js"></script>
</div>

</body>
</html>